body{
    background-image:url(../img/100.jpg);

}
.thumbnail img{
    width: 283px;
    height: 142px;
}
.thumbnail{
    text-align: center;
    background-image:url(../img/100.jpg);
}
.row{
    padding: 20px;

}
