*{
    margin: 0;
    padding:0;
}
#nav{
    width: 130px;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*padding-top: 100px;*/
    /*padding-bottom: 150px;*/
}
body{

     background: black;
 }
#nav li{
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 2px 2px 20px #000;
    transform-origin: 28px 375px;
    transition: 1s;
}
#nav img{
    display: block;
}