*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}



html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}


.swiper-button-next {
    transform: rotateZ(90deg);
     position: absolute;
    top: 95%;
    left:50%;
}



/*
    .s1 第一屏样式 开始
*/


.s1{
    background: url(../img/bj.png);
    height: 100%;
    position: relative;
}
.header img:nth-of-type(1){
    width: 32px;
    position: absolute;
    top: 120px;
    left: 50px;
    animation: swing infinite;
}
.header img:nth-of-type(2){
    width: 64px;
    position: absolute;
    top: 90px;
    left: 270px;
    animation: swing infinite ;
}
.header img:nth-of-type(3){
    width: 50px;
    position: absolute;
    top: 425px;
    left: 35px;
    animation: swing infinite;
}
.header img:nth-of-type(4){
    width: 50px;
    position: absolute;
    top:410px;
    left: 280px;
    animation:  swing infinite;
}
.header img:nth-of-type(5){
    width: 70%;
    position: absolute;
    top: 21%;
    left: 15%;

}

.main img:nth-of-type(1){
    width: 50%;
    position: absolute;
    top:28%;
    left: 25%;

}

.main img:nth-of-type(2){
    width: 80%;
    position: absolute;
    top: 38%;
    left: 9%;
}

.img9{

    width: 206px;
    height: 24px;
    background: url(../img/9.png);
    background-size:contain ;
    margin: auto;
    position: relative;
    top:360px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    line-height: 26px;
}





.s1 .footer{
    font-size: 16px;
    color: #00deb4;
    width: 100%;
    bottom: 10.5%;
    position: absolute;
}
.s1 .footer p:nth-of-type(2){
     margin-bottom: 40px;
 }


.s1 .footer img{
    height: 70px;
    position: absolute;
}

.s1 .footer p:nth-of-type(3) img{
   position:absolute;
    height: 70px;

}

.s1 .footer p img:nth-of-type(1){
    position: absolute;
    left: -40px;
}.s1 .footer p img:nth-of-type(2){
     position: absolute;
     left: -90px;
 }


.s2{
    background: url(../img/bj.png);
    height: 100%;
    color: #00deb4;
}
.s2 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}
.s2 small {
     margin-top: 10px;
     display: block;
     font-size: 14px;
     letter-spacing: 5px;
 }

.s2 h2::before,
.s2 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s2 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
    animation:  fadeInLeft infinite;
}

.s2 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}
.s2 div {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 50%;
    margin-left: -40%;

}

.s2 div img {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}

.s2 div p {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 14px;
    line-height: 1.7em;
    margin-bottom: 10px;
}

.s2 div p:nth-of-type(1) {
    padding-top: 20px;
}

.s2 div span {
    /*渐变色*/
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
    width: 120px;
    height: 25px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -60px;
}